#div{
float: left;
}
#div1{
   
    margin-left:  400px;
    margin-right: 450px;
    margin-top: 10px;
    background-color: rgb(40, 145, 236);
    
}
#p3{
    margin-top: 20px;
    margin-left: 5px;
}